#home {
  background: url("../imgs/portfolio_bg2.jpg") no-repeat center/cover;
  padding: 40px 0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -2;
  height: 937px;
}

.home__title__contanier {
  text-align: center;
  width: 372.97px;
  margin: 100px auto;
}

.home__title {
  position: relative;
  color: white;
  line-height: 32px;
  font-size: 32px;
}

.home__title::after {
  width: 1px;
  height: 100%;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: white;
  animation: blink 1.2s 1.3s infinite linear;
}

@keyframes blink {
  0% {
    background: #fff;
  }
  49% {
    background: #fff;
  }
  50% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #fff;
  }
}

.home__description1,
.home__description2 {
  color: white;
  text-align: center;
  font-size: var(--font-small);
}

.home__description1 {
  animation: slide_1 1.5s linear;
}

@keyframes slide_1 {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home__description2 {
  animation: slide_2 1.5s linear;
}
@keyframes slide_2 {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home__box {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
}

.home__box__box {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
}

.home__box__first-name,
.home__box__second-name {
  width: 100px;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: var(--font-regular);
}

.home__box__first-name {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.home__box__second-name {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(-45deg);
}

.home__box__title {
  color: rgba(0, 0, 0, 0.7);
  transform: rotate(-45deg);
}

.home__box__shadow {
  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  animation: shadow 1s infinite linear;
}

@keyframes shadow {
  from {
    transform: scale(1.03);
  }
  to {
    transform: scale(1.3);
    border: 0px solid rgba(255, 255, 255, 0.3);
    opacity: 0;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .home__box {
    width: 200px;
    height: 200px;
    margin-top: 100px;
  }
}
