#skills {
  background: black;
  color: white;
}

#skills p {
  margin: 0 auto 20px;
  max-width: 1000px;
}

.skillset {
  padding: 20px;
  height: 250px;
  background-color: #46474b;
  max-width: 1000px;
  margin: 0 auto;
}

.skillset__title {
  margin: 0 auto 15px;
}

.skillset__container {
  margin-bottom: 10px;
}

.skillset__container__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.skillset__container__gauge_max {
  height: 5px;
  background: #2f3031;
}

.skillset__container__gauge__html,
.skillset__container__gauge__css,
.skillset__container__gauge__js,
.skillset__container__gauge__react,
.skillset__container__gauge__ts {
  width: 0;
  height: 100%;
  background: #e1b12c;
  transition: width 1s ease;
}
