@import "./home.css";
@import "./nav.css";
@import "./home.css";
@import "./about.css";
@import "./skill.css";
@import "./work.css";
@import "./contact.css";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.section {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

:root {
  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0;
  font-size: 50px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

.upBtn {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #e1b12c;
  cursor: auto;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}

.upBtn:hover .upBtn__innerBox {
  transition: all 0.5s;
  animation: repeatUpDown 1s infinite linear;
}

@keyframes repeatUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(0);
  }
}
.upBtn__index {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
  width: inherit;
  height: inherit;
}
