@import "./home.css";
@import "./nav.css";
@import "./home.css";
@import "./about.css";
@import "./skill.css";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

:root {
  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0;
  font-size: 50px;
  font-family: "Balsamiq Sans", cursive;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}
